.section{
    width: 500px;
    height: 230px;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    color: #333;
    transform: translate(-50%,-50%);
}
.section span{
    cursor: pointer;
    color: #2994c5;
}
.img{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 166px;
}